
{% extends 'base.html' %}
{% load static %}

<head>
  {% block title %}
	<title>HIC</title>
  {% endblock %}
</head>

<body>
    
  <div class="container">

    {% block content %}
    <div class="row">
      <div class="col-sm-10">
      	<p class="mt-3 led text-muted">Welcome To Health Inurance Claim project! </p>
        <img src="{% static 'index.jfif' %}" class="img-fluid">
      </div>

      <div class="col-sm-2">
        <h3 class="mt-3 led">Signup here!</h3>
        <form class="bg-warning">
          
        </form>
      </div>
    </div>
    {% endblock %}

  </div>
 
 </body>
 

