
{% extends 'base.html' %}
{% load static %}

<head>
  {% block title %}
	<title>Login</title>
  {% endblock %}
</head>

<body>
    
  <div class="container">

    {% block content %}
    <div class="container">
      <h3 class="mt-3 led">Login</h3>
      <form method="post" class="mt-4">
        {% csrf_token %}
        {{ loginform_key }}
        <br>
      <input type="submit" value="Login" class="bg-dark text-white btn btn-group-vertical">
      <input type="reset" value="Clear" class="bg-warning text-white btn btn-group-vertical">
      </form>
    </div>
    {% endblock %}

  </div>
 
 </body>
 

